---
layout: default
---
{% assign lang = page.lang | default: site.lang %}
{% assign t = site.data.ui.strings[lang] %}
<article>
  <header class="post-header">
    <div class="wrap">
      <div class="post-header__meta">
        <span class="entry__date">{{ page.date | date: t.date_format }}</span>
        {% for tag in page.tags %}<span class="entry__tag">{{ tag }}</span>{% endfor %}
      </div>
      <h1>{{ page.title }}</h1>
    </div>
  </header>
  <div class="post-body wrap">
    {{ content }}
  </div>
</article>
